.yellow-bg{
    background-color: #fcbc04 !important;
}
.blue-bg{
    background-color: #D70040 !important;
}
.yellow-color{
    color: #fcbc04 !important;
}
.blue-color{
    color: #0B093B;
}
.yellow-bottom-border{
    background-color: #ffffff !important;
    border-bottom: solid #fcbc04 3px !important;
}
.black-color{
    color: #000000 !important;
}
.no-text-decoration {
    text-decoration: none;
    color: inherit;
}
.profile-desc{
    text-align: center;
    font-size:1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 16px 16px 0;
}
.bold-text{
    font-weight: bold;
}
.light-text{
    font-weight: lighter;
}
.map-container {
    height: calc(100vh - 103px);
    width: inherit !important;
}
.padding-header-top{
    margin-bottom: 103px;
}
body {
    overflow: hidden;
}
.mapboxgl-canvas{
    position: absolute;
    width:auto!important;
}
body {
    overflow: auto; /* This will add scrolling if the content overflows the element */
}
input#input-file-upload-button{
    margin-left: 150px !important;
    color: #D70040 !important;
    display: none;
}
.pointer{
    cursor: pointer;
}