.yellow-bg{
    background-color: #fcbc04 !important;
}
.yellow-bg{
    background-color: #D70040 !important;
}
.yellow-color{
    color: #fcbc04 !important;
}
.blue-color{
    color: #0B093B;
}
.yellow-bottom-border{
    background-color: #ffffff !important;
    border-bottom: solid #fcbc04 3px !important;
}
.black-color{
    color: #000000 !important;
}
.google-btn-style{
    margin-top: 24px;
    width: 100%;
}
.no-text-decoration {
    text-decoration: none;
    color: inherit;
}
.profile-desc{
    text-align: center;
    font-size:1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 16px 16px 0;
}
.bold-text{
    font-weight: bold;
}
.light-text{
    font-weight: lighter;
}
.map-container {
    height: calc(100vh - 103px);
    width: inherit !important;
}
.padding-header-top{
    margin-bottom: 103px;
}
body {
    overflow: hidden;
}
.mapboxgl-canvas{
    position: absolute;
}
/*.mapboxgl-control-container {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    right: 0;*/
/*    top: 110px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.contained-btn{
    padding: 6px 16px !important;
    color: #ffffff;

}
body {
    overflow: auto; /* This will add scrolling if the content overflows the element */
}
